.azeret-mono{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
*{
    margin: 0px;
    padding: 0px;
}
  /* banner part starts here */

  .header-part{
    width: 1440px;
    height: 652px;
    margin: 131px 0px 74px 0px;
    background-image: url(../assets/Hero-bg.png);
  }
  .banner-section{
    width: 998px;
    height: 582px;
    margin: 26px 221px 44px 221px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
  }
  .img-section{
    padding-top: 26px;
  }
.banner-title{
    width: 998px;
    height: 136px;
    margin-top: 32px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
}
.banner-description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    opacity: 0.7;
    margin: 24px 0px;
}
.btn-primary{
    width: 208px;
    height: 66px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 21px 24px 21px 24px;
    margin: 32px 0px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 15px;
    font-weight: 600;
}

/* web development section stats here */

.section-container{
    width: 1140px;
    height: 1395px;
    margin: 74px 152px 88px 148px;
}
.web-container{
    position: static;
    width: 946px;
    height: 1235px;
    margin: 80px 97px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
}
.section-title{
    width: 852px;
    height: 115px;
    margin: 0px 47px 0px 47px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
}
.section-subtitle{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
}
.section-content{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    padding-top: 24px;
}

/* first div box start  */

.code-container{
    width: 946px;
    height: 336px;
    margin-top: 48px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.code-content{
    width: 850px;
    height: 240px;
    margin: 48px 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}
.code-description{
    width: 850px;
    height: 240px;
    margin: 10px 100px 10px 0px;
}
.title{
    color: rgba(13, 19, 33, 0.7);
    font-size: 20px;
    font-weight: 700;
    padding: 0px 5px 16px 0px;
}
.code-section{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 32px;
}
.btn-secondary{
    width: 150px;
    height: 48px;
    padding: 12px 20px 12px 20px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
}
.btn-secondary:hover{
    background-color: darkgreen;
}

/* second div box start */

.system-container{
    width: 852px;
    height: 260px;
    margin: 32px 32px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 48px;
}
.system-description{
    width: 850px;
    height: 240px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
}
.system-content{
    width: 477px;
    height: 220px;
    margin: 0px 32px;
}
.system-title{
    color: rgba(13, 19, 33, 0.7);
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 16px;
}
.system-section-content{
    color: rgb(13, 19, 33);
    font-size: 14px;
    font-weight: 400;
    opacity: 0.7;
    padding-bottom: 32px;
}
/* second div box end  */

/* My inspiration start here  */

.inspiration-container{
   width: 1140px;
   height: 777px;
   margin: 88px 152px 149px 148px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   padding: 0px;
}
.inspiration-section{
    width: 852px;
    height: 115px;
    margin: 0px 144px 48px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
}
.inspiration-title{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    padding-bottom: 24px;
}
.inspiration-content{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    padding-bottom: 48px;
}
.inspiration-sector{
    position: static;
    width: 1140px;
    height: 614px;
    margin-top: 48 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 32px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}
.Rectangle, iframe{
    width: 1076px;
    height: 550px;
    border-radius: 16px;
    background: url(Jhankar);
}
/* My inspiration end here  */

/* My current plan start  */

.target-container{
    width: 1140px;
    height: 467px;
    margin: 149px 150px 111px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
}
.current-container{
    width: 852px;
    height: 115px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
}
.target-title{
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
    padding-bottom: 24px;
}
.target-content{
    font-size: 16px;
    font-weight: 400;
    color: rgb(13, 19, 33);
    opacity: 0.7;
    padding-bottom: 48px;
}
.content-container{
    width: 1140px;
    height: 330px;
    margin-top: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
}
.target-description{
    width: 364px;
    height: 299px;
    margin: 0px 24 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}
.hyper-part{
    width: 284px;
    height: 219px;
    margin: 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
}
.hyper-part, img{
    padding-bottom: 14px;
}
.hyper-part, h4{
    font-size: 22px;
    font-weight: 800;
    color: rgb(13, 19, 33);
    padding-top: 24px;
}
.hyper-part, p{
    font-size: 16px;
    font-weight: 400;
    color: rgb(13, 19, 33);
    opacity: 0.7;
    padding-top: 10px;
}
.hyper-part,a{
    padding-top: 24px;
    color: (13, 19, 33)
}
.bg-section{
    width: 364px;
    height: 299px;
    margin: 0px 24 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}
.bg-container{
    width: 364px;
    height: 299px;
    margin: 0px 24 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}
/* My current plan start  */

/* I need support part start here  */

.support-container{
    position: absolute;
    width: 1146px;
    height: 319px;
    margin: 47px 120px 80px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url(../assets/handshake.jpg);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 16px;
    
}
.support-content{
    width: 954px;
    height: 185px;
    margin: 64px 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.support-section{
    width: 730px;
    height: 104px;
    margin: 0px 157px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.support-section, h4{
    padding-bottom:16px ;
    font-size: 28px;
    font-weight: 700;
    color: rgb(255, 255, 255);
}
.support-section, p{
    font-size: 16px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    opacity: 0.7;
}
.support-content-section{
    width: 684px;
    height: 57px;
    margin: 24px 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.feedback-form{
    width: 548px;
    height: 57px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 19px 20px 19px 20px;
    color: rgba(13, 19, 33, 0.4);
    font-size: 16px;
    font-weight: 400;
}
.btn-section{
    width: 120px;
    height: 57px;
    margin: 0px 0px 0px 16px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    padding: 17px 20px 17px 20px;
    color: (13, 19, 33)
}
.btn-section:hover{
    background-color: darkgreen;
}
