.azeret-mono{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
*{
    margin: 0px;
    padding: 0px;
}
  /* banner part starts here */

  .header-part{
    width: 1425px;
    height: 652px;
    margin-top: 131px;
    background-image: url(../assets/Hero-bg.png);
  }
  .banner-section{
    width: 998px;
    height: 582px;
    margin: 26px 221px 44px 221px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
  }
  .img-section{
    padding-top: 26px;
  }
.banner-title{
    width: 998px;
    height: 136px;
    margin-top: 32px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
}
.banner-description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    opacity: 0.7;
    margin: 24px 0px;
}
.btn-primary{
    width: 208px;
    height: 66px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 21px 24px 21px 24px;
    margin: 32px 0px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 15px;
    font-weight: 600;
}

/* web development section stats here */

